Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

Add Copilot agent configurations for repository guidance
  .github/agents/code_guide.yml
  .github/agents/refactor_mate.yml
  .github/agents/test_scout.yml
Labels: config

Add Dev Ops Sage Copilot agent
  .github/agents/dev_ops.yml
Labels: config

Create Devops-Bob.md for DevOps assistance
  .github/agents/Devops-Bob.md
Labels: config

Add workflow to auto-delete merged branches
  .github/workflows/Auto-Delete-merged-branch.yml
Labels: config, ci/cd

Add Auto-stale workflow for issues and PRs
  .github/workflows/Auto-stale.yml
Labels: config, ci/cd

Add Devops-Sage.yml configuration file
  .github/agents/Devops-Sage.yml
Labels: config

Delete .github/agents/dev_ops.yml
  .github/agents/dev_ops.yml
Labels: config

Rename Devops-Sage.yml to Devops-Sage.md
  .github/agents/Devops-Sage.md
Labels: config

Refactor agent configuration and update summary
  .github/agents/refactor_mate.yml
Labels: config

Rename refactor_mate.yml to refactor_mate.md
  .github/agents/refactor_mate.md
Labels: config

Revise Test Scout agent configuration
  .github/agents/test_scout.yml
Labels: config

Update Test Scout agent YAML configuration
  .github/agents/test_scout.yml
Labels: config

Rename test_scout.yml to test_scout.md
  .github/agents/test_scout.md
Labels: config

Revise code guide for better contributor navigation
  .github/agents/code_guide.md
  .github/agents/code_guide.yml
Labels: config

Update src/routes/firearms.js
  src/routes/firearms.js
Labels: backend

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Labels: documentation, dependencies

Notes added by 'git notes add'
  af45985df419fe6d54bbec63165cb386ff6b9f5b
Labels: none

Add permissions for auto-delete merged branches
  .github/workflows/Auto-Delete-merged-branch.yml
Labels: config, ci/cd

Add paths-ignore to release workflow
  .github/workflows/release.yml
Labels: config, ci/cd

Add user management with invitations
  src/db.js
  src/db/users.js
  src/routes/auth.js
  src/server.js
  src/views/auth/invite.ejs
  src/views/auth/register.ejs
Labels: backend, frontend, database, security

Update src/routes/firearms.js
  src/routes/firearms.js
Labels: backend

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Labels: documentation, dependencies

Notes added by 'git notes add'
  83e900375b7b8a414e644c865fbe549580876904
Labels: none

Update layout header with login link
  src/views/partials/layout.ejs
Labels: frontend

Add GPLv3 license file
  LICENSE
Labels: none

Add Flatpickr date picker to library form
  src/views/library/_form.ejs
  src/views/partials/layout.ejs
Labels: frontend

updated the footer
  src/views/partials/layout.ejs
Labels: frontend

Rename project from PPCollection to Pew Pew Collection
  README.md
Labels: documentation

Delete .github/agents directory
  .github/agents/Devops-Sage.md
  .github/agents/code_guide.md
  .github/agents/refactor_mate.md
  .github/agents/security-agent.md
  .github/agents/test_scout.md
Labels: config

Update layout header with login link
  src/views/partials/layout.ejs
Labels: frontend

Add GPLv3 license file
  LICENSE
Labels: none

updated the footer
  src/views/partials/layout.ejs
Labels: frontend

Delete .github/agents directory
  .github/agents/Devops-Sage.md
  .github/agents/code_guide.md
  .github/agents/refactor_mate.md
  .github/agents/security-agent.md
  .github/agents/test_scout.md
Labels: config

Add Flatpickr date picker to library form
  src/views/library/_form.ejs
  src/views/partials/layout.ejs
Labels: frontend

Rename project from PPCollection to Pew Pew Collection
  README.md
Labels: documentation

Potential fix for code scanning alert no. 3: Clear text transmission of sensitive cookie
  src/server.js
Labels: backend

Potential fix for code scanning alert no. 7: Missing CSRF middleware
  package.json
  src/server.js
Labels: backend, config, dependencies

Fix missing CSRF tokens on form submissions
  src/server.js
  src/views/auth/invite.ejs
  src/views/auth/password-reset-token.ejs
  src/views/auth/register.ejs
  src/views/auth/reset-password.ejs
  src/views/library/edit.ejs
  src/views/library/new.ejs
  src/views/library/show.ejs
  src/views/login.ejs
  src/views/partials/layout-header.ejs
  src/views/partials/layout.ejs
  src/views/profile.ejs
  src/views/profile/index.ejs
Labels: backend, frontend

Update src/server.js
  src/server.js
Labels: backend

Add repository agent guidelines
  AGENTS.md
Labels: documentation
