Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

fix(docker): set DATA_DIR=/data so bundled DATABASE_PATH passes guard
  Dockerfile
  tests/unit/config.test.js
Labels: docker

docs(agents): document DATABASE_PATH / DATA_DIR guard coupling
  AGENTS.md
Labels: documentation

Notes added by 'git notes add'
  6f3c683fe933907b8dec18ca70bba141b4d872c1
Labels: none

ci(release): lowercase image ref before SBOM scan
  .github/workflows/release.yml
Labels: config, ci/cd

ci(codeowners): add owner review policy
  .github/CODEOWNERS
  CONTRIBUTING.md
  README.md
Labels: documentation, config

Potential fix for pull request finding
  README.md
Labels: documentation

Potential fix for pull request finding
  CONTRIBUTING.md
Labels: documentation

Notes added by 'git notes add'
  dba6e826ad55abd2990fb97036ea268b470afd26
Labels: none

fix: associate firearm form help text with inputs
  src/views/firearms/_form.ejs
  tests/integration/firearms.integration.test.js
Labels: frontend

chore: relicense from GPL v3 to BUSL 1.1
  CLA.md
  LICENSE
Labels: documentation

feat(ux): preserve sort on filter, debounce search, persist state in URL, collapsible filter groups
  src/public/css/styles.css
  src/public/js/search.js
  src/views/firearms/index-content.ejs
Labels: frontend

feat(firearms): group form fields into sections, fix notes markup
  src/public/css/styles.css
  src/views/firearms/_form.ejs
  src/views/firearms/edit-content.ejs
  src/views/firearms/new-content.ejs
  src/views/firearms/show-content.ejs
Labels: frontend

feat(accessibility,ux): WCAG AA baseline and app shell polish (closes #437, #406, #457, #439, #440, #436)
  src/features/auth/auth.controller.js
  src/features/firearms/firearms.controller.js
  src/features/home/home.controller.js
  src/public/css/styles.css
  src/public/js/search.js
  src/public/js/theme.js
  src/views/auth/profile-content.ejs
  src/views/errors/403-content.ejs
  src/views/errors/404-content.ejs
  src/views/firearms/_form.ejs
  src/views/firearms/index-content.ejs
Labels: frontend

feat(reports): add reporting & analytics dashboard
  src/app/createApp.js
  src/app/routes/index.js
  src/features/reports/reports.controller.js
  src/features/reports/reports.routes.js
  src/features/reports/reports.service.js
  src/infra/db/repositories/reports.repository.js
  src/public/css/styles.css
  src/public/js/reports-charts.js
  src/views/partials/layout.ejs
  src/views/reports/index-content.ejs
  src/views/reports/index.ejs
  tests/integration/reports.integration.test.js
  tests/unit/reports.service.test.js
Labels: frontend

feat(security): scope firearms by user_id, enforce serial uniqueness, add indexes
  src/features/auth/auth.controller.js
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.service.js
  src/infra/db/migrations/004_user_id.sql
  src/infra/db/migrations/005_indexes.sql
  src/infra/db/migrations/006_serial_unique.sql
  src/infra/db/repositories/firearms.repository.js
  src/public/js/firearm-import.js
  src/views/firearms/_form.ejs
  tests/integration/firearms.integration.test.js
  tests/unit/firearms.import.test.js
  tests/unit/firearms.repository.test.js
Labels: frontend

feat(firearms): add printable insurance report (#147)
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.routes.js
  src/public/css/styles.css
  src/views/firearms/index-content.ejs
  src/views/firearms/insurance-report-content.ejs
  src/views/firearms/insurance-report.ejs
  tests/integration/firearms.integration.test.js
Labels: frontend

Potential fix for pull request finding
  src/infra/db/repositories/reports.repository.js
Labels: none

Potential fix for pull request finding
  src/views/firearms/index-content.ejs
Labels: frontend

Remove GitHub License badge
  README.md
Labels: documentation

Notes added by 'git notes add'
  31cb3a59b57add0a4ec377735b72ec3d9f013fa9
Labels: none

fix(docker): use absolute bind path in docker run example to persist DB across updates
  README.md
  docker-compose.yml
Labels: documentation, config, docker

fix(reports): wire Print Report and Print/Export buttons via addEventListener
  src/public/js/print-button.js
  src/views/firearms/insurance-report-content.ejs
  src/views/firearms/insurance-report.ejs
  src/views/firearms/show-content.ejs
  src/views/firearms/show.ejs
Labels: frontend

fix(inventory): hide filter facets that only have one option
  src/views/firearms/index-content.ejs
Labels: frontend

refactor(reports): rename user-facing label from Reports to Stats
  src/views/partials/layout.ejs
  src/views/reports/index-content.ejs
  src/views/reports/index.ejs
  tests/integration/reports.integration.test.js
Labels: frontend

docs: update feature label from Reports to Stats for PR #488
  README.md
Labels: documentation

ci(trivy): skip node_modules when scanning filesystem
  .github/workflows/ci.yml
Labels: config, ci/cd

ci(trivy): set limit-severities-for-sarif so exit-code respects severity filter
  .github/workflows/ci.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  086953d778d37668c4e109ac721bb407e6a86cbd
Labels: none

docs: trim README and seed wiki source pages
  README.md
  wiki/Architecture.md
  wiki/Configuration.md
  wiki/Contributing.md
  wiki/FAQ.md
  wiki/Home.md
  wiki/Installation.md
  wiki/Operations.md
  wiki/README.md
  wiki/Screenshots.md
  wiki/Security.md
  wiki/Upgrading.md
  wiki/_Footer.md
  wiki/_Sidebar.md
Labels: documentation

chore: update license information to Business Source License 1.1 in documentation and configuration files
  CLAUDE.md
  Dockerfile
  README.md
  package.json
  wiki/_Footer.md
Labels: documentation, config, docker, dependencies

docs(docker): clarify data mount reuse during updates
  README.md
  docker-compose.yml
  docs/index.html
Labels: documentation, config, docker

docs: add wiki sync workflow and helper script
  .github/workflows/wiki-sync.yml
  scripts/sync-wiki.sh
  wiki/README.md
Labels: config, ci/cd

docs(landing): re-shoot screenshots with demo data, add mobile + light-mode shots
  docs/index.html
  docs/screenshots/add-firearm.png
  docs/screenshots/dashboard-light.png
  docs/screenshots/dashboard.png
  docs/screenshots/firearm-detail.png
  docs/screenshots/insurance-report.png
  docs/screenshots/inventory-mobile.png
  docs/screenshots/inventory.png
  docs/screenshots/profile.png
  docs/screenshots/stats.png
Labels: documentation

feat(docs): add SEO metadata, social-proof badges, and image SEO to landing page
  docs/apple-touch-icon.png
  docs/favicon.svg
  docs/index.html
  docs/robots.txt
  docs/sitemap.xml
Labels: documentation

feat(docs): phase 3 landing page — hero rewrite, value pillars, insurance, use cases, FAQ, comparison
  docs/index.html
Labels: documentation

feat(docs): phase 4 — long-form SEO articles for long-tail organic traffic
  docs/articles/article.css
  docs/articles/firearm-insurance-inventory-guide.html
  docs/articles/self-hosted-vs-cloud-firearm-inventory.html
  docs/index.html
  docs/sitemap.xml
Labels: documentation

Notes added by 'git notes add'
  083043452a0f3b9c63276ffcb8b25351b7c3b180
Labels: none

docs: update license references from GPL v3 to BUSL-1.1
  docs/articles/firearm-insurance-inventory-guide.html
  docs/articles/self-hosted-vs-cloud-firearm-inventory.html
  docs/index.html
  package-lock.json
  wiki/Home.md
Labels: documentation, dependencies

Notes added by 'git notes add'
  c497f72ad8911c8b96e309f346428a9b84e02a0d
Labels: none

refactor: remove unused code across service, CSS, and schema
  CLAUDE.md
  src/features/firearms/firearms.service.js
  src/infra/db/migrations/007_drop_unused_tables.sql
  src/public/css/styles.css
Labels: frontend, documentation

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'
