Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

Add GitHub Actions workflow to summarize new issues
  .github/workflows/summary.yml
Labels: config, ci/cd

Potential fix for code scanning alert no. 5: Insecure configuration of Helmet security middleware
  src/server.js
Labels: backend

fix: restore default admin password
  src/config.js
Labels: backend

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
Labels: documentation, dependencies

Notes added by 'git notes add'
  733f91c43806c0598e8b94d21c643a5bb9e5910e
Labels: none

Update src/db.js
  src/db.js
Labels: backend, database

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Labels: documentation, dependencies

Notes added by 'git notes add'
  b0bd35eb183f960640b60396b35d62913a7db302
Labels: none

Add badges to README for project visibility
  README.md
Labels: documentation

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Labels: documentation, dependencies

Notes added by 'git notes add'
  47441649aa82b45379ad375f3fb0253bcb3cb5e5
Labels: none

Remove unnecessary permissions from workflow
  .github/workflows/Auto-Delete-merged-branch.yml
Labels: config, ci/cd

Make session cookie security configurable
  README.md
  src/config.js
  src/server.js
Labels: backend, documentation

Update src/config.js
  src/config.js
Labels: backend

Update README.md
  README.md
Labels: documentation

Create eslint.yml
  .github/workflows/eslint.yml
Labels: config, ci/cd

Add Hadolint workflow for Dockerfile linting
  .github/workflows/hadolint.yml
Labels: config, ci/cd

Add OSSAR workflow for static analysis
  .github/workflows/ossar.yml
Labels: config, ci/cd

Update src/server.js
  src/server.js
Labels: backend

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/Auto-Delete-merged-branch.yml
Labels: config, ci/cd

Potential fix for code scanning alert no. 10: Exception text reinterpreted as HTML
  src/views/auth/change-credentials.ejs
Labels: frontend

Potential fix for code scanning alert no. 6: Database query built from user-controlled sources
  src/db.js
Labels: backend, database

Create codex-review.md for PR review instructions
  .github/codex/labels/codex-review.md
Labels: config

Add configuration for GPT-5.1 model
  .github/codex/home/config.toml
Labels: config

Delete .github/workflows/eslint.yml
  .github/workflows/eslint.yml
Labels: config, ci/cd

Switch to plain-text password storage
  README.md
  package-lock.json
  package.json
  scripts/hash-password.js
  src/config.js
  src/db.js
  src/db/users.js
  src/routes/auth.js
  src/routes/profile.js
Labels: backend, database, documentation, config, dependencies, security

Refactor server and views for firearms management
  .releaserc.json
  Dockerfile
  PIPELINE_EXAMPLES.md
  README.md
  package-lock.json
  package.json
  src/config.js
  src/db.js
  src/db/users.js
  src/middleware/auth.js
  src/middleware/rateLimiter.js
  src/public/css/styles.css
  src/routes/auth.js
  src/routes/firearms.js
  src/routes/library.js
  src/routes/profile.js
  src/server.js
  src/views/404.ejs
  src/views/auth/change-credentials.ejs
  src/views/auth/invite.ejs
  src/views/auth/password-reset-token.ejs
  src/views/auth/register.ejs
  src/views/auth/reset-password.ejs
  src/views/firearms/_form.ejs
  src/views/firearms/edit.ejs
  src/views/firearms/index.ejs
  src/views/firearms/new.ejs
  src/views/firearms/show.ejs
  src/views/library/_form.ejs
  src/views/library/edit.ejs
  src/views/library/index.ejs
  src/views/library/new.ejs
  src/views/library/show.ejs
  src/views/login.ejs
  src/views/partials/layout-footer.ejs
  src/views/partials/layout-header.ejs
  src/views/partials/layout.ejs
  src/views/profile.ejs
  src/views/profile/index.ejs
Labels: backend, frontend, database, documentation, config, docker, dependencies, security

Add Playwright configuration to the project
  .github/codex/home/config.toml
Labels: config

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  63aeb7ef19565e9a11234566f77a544895246619
Labels: none

Ensure firearms location column exists
  src/db.js
Labels: backend, database

Update src/db.js
  src/db.js
Labels: backend, database

Restyle app with professional theme
  src/public/css/styles.css
  src/views/firearms/index.ejs
  src/views/login.ejs
Labels: frontend

Remove footer bar and pin top controls
  src/public/css/styles.css
  src/views/firearms/index.ejs
  src/views/login.ejs
  src/views/partials/layout.ejs
Labels: frontend

Update src/db.js
  src/db.js
Labels: backend, database

Improve navigation accessibility and focus
  src/public/css/styles.css
  src/server.js
  src/views/partials/layout.ejs
Labels: backend, frontend

Add accessible filtering and sorting for firearms table
  src/public/css/styles.css
  src/public/js/search.js
  src/views/firearms/index.ejs
Labels: frontend

Delete .github/workflows/ossar.yml
  .github/workflows/ossar.yml
Labels: config, ci/cd

Update codex-review.md
  .github/codex/labels/codex-review.md
Labels: config

Update workflow action versions
  .github/workflows/hadolint.yml
  .github/workflows/release.yml
  .github/workflows/summary.yml
Labels: config, ci/cd
