Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

security(config): validate the persisted session secret and fail closed
  AGENTS.md
  CLAUDE.md
  src/infra/config/session-secret.js
  tests/unit/session-secret.test.js
  wiki/FAQ.md
  wiki/Security.md
  wiki/Upgrading.md
Labels: documentation

feat(auth): store sessions in SQLite so logins survive restarts
  AGENTS.md
  CLAUDE.md
  README.md
  src/app/createApp.js
  src/infra/db/migrations/009_sessions.sql
  src/infra/db/repositories/sessions.repository.js
  src/infra/session/sqlite-session.store.js
  src/server.js
  tests/integration/session-persistence.integration.test.js
  tests/unit/sessions.repository.test.js
  tests/unit/sqlite-session.store.test.js
  wiki/Configuration.md
  wiki/Security.md
  wiki/Upgrading.md
Labels: backend, documentation

security(auth): regenerate sessions and invalidate them on password change
  CLAUDE.md
  src/features/auth/auth.controller.js
  tests/integration/auth.integration.test.js
  tests/integration/session-lifecycle.integration.test.js
  tests/integration/session-persistence.integration.test.js
  wiki/Security.md
Labels: documentation

test(release): verify zero-config setup and session persistence end to end
  .github/workflows/docker-smoke.yml
  .github/workflows/release.yml
  AGENTS.md
  CLAUDE.md
  scripts/first-run-smoke.sh
  scripts/lib/smoke-common.sh
  scripts/session-smoke.sh
  scripts/smoke.sh
Labels: documentation, config, ci/cd

docs(marketing): address credibility blockers for #567
  docs/about.html
  docs/articles/article.css
  docs/articles/firearm-insurance-inventory-guide.html
  docs/articles/index.html
  docs/articles/self-hosted-vs-cloud-firearm-inventory.html
  docs/index.html
  docs/og-card.png
  docs/og-card.svg
  docs/privacy.html
  docs/sitemap.xml
Labels: documentation

docs(architecture): document setup wizard and SQLite session store
  docs/architecture.md
  wiki/Architecture.md
Labels: documentation

feat(ammo): add ammunition inventory data model and CRUD
  CLAUDE.md
  src/app/createApp.js
  src/app/routes/index.js
  src/features/ammo/ammo.controller.js
  src/features/ammo/ammo.routes.js
  src/features/ammo/ammo.service.js
  src/features/ammo/ammo.validators.js
  src/infra/db/migrations/010_ammo.sql
  src/infra/db/repositories/ammo.repository.js
  src/public/js/ammo-search.js
  src/views/ammo/_form.ejs
  src/views/ammo/edit-content.ejs
  src/views/ammo/edit.ejs
  src/views/ammo/index-content.ejs
  src/views/ammo/index.ejs
  src/views/ammo/new-content.ejs
  src/views/ammo/new.ejs
  src/views/partials/layout.ejs
  tests/integration/ammo.integration.test.js
  tests/unit/ammo.repository.test.js
  tests/unit/ammo.validators.test.js
  wiki/Architecture.md
Labels: frontend, documentation

fix(ammo): make mobile ammo rows navigate to edit, document ammo in README
  README.md
  src/public/js/ammo-search.js
  src/views/ammo/index-content.ejs
Labels: frontend, documentation

chore(release): 2.5.0
  .github/workflows/release.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  3182334d282727f741216ab3f74f1ea42ba16dcf
Labels: none

fix(ci): allow explicit release validation dispatch
  .github/workflows/ci.yml
Labels: config, ci/cd

fix(ci): harden release dispatch and validation
  .github/workflows/release.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  cb7963dd858e4527745b4d57dd1e9e0c2b0265ce
Labels: none

fix(config): make PORT actually change the port the app serves on
  .env.example
  README.md
  docker-compose.yml
  src/infra/config/index.js
  tests/unit/config.test.js
  wiki/Configuration.md
  wiki/Installation.md
Labels: documentation, config, docker

docs(marketing): restructure the homepage around installing and self-host the fonts
  docs/articles/article.css
  docs/articles/firearm-insurance-inventory-guide.html
  docs/articles/self-hosted-vs-cloud-firearm-inventory.html
  docs/fonts/NOTICE.md
  docs/fonts/bebas-neue-400-latin.woff2
  docs/fonts/ibm-plex-mono-400-latin.woff2
  docs/fonts/ibm-plex-mono-500-latin.woff2
  docs/index.html
  docs/sitemap.xml
Labels: documentation

Notes added by 'git notes add'
  9ac770c5c77d04ef348d948b56b35936da43e59e
Labels: none

ci: replace branch cleanup job with shared workflow
  .github/workflows/cleanup-merged-branches.yml
  .github/workflows/maintenance.yml
  CLAUDE.md
  wiki/Architecture.md
Labels: documentation, config, ci/cd

ci: replace branch cleanup job with shared workflow (#587)
  .github/workflows/cleanup-merged-branches.yml
  .github/workflows/maintenance.yml
  CLAUDE.md
  wiki/Architecture.md
Labels: documentation, config, ci/cd

fix(deps): pin conventional-changelog preset to v9 to unbreak releases
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: config, dependencies

feat(dashboard): introduce a collection ledger design
  README.md
  docs/design/collection-ledger.md
  docs/index.html
  src/public/css/styles.css
  src/public/js/home-charts.js
  src/views/home/index-content.ejs
  src/views/partials/layout.ejs
  tests/integration/auth.integration.test.js
  tests/integration/maintenance.integration.test.js
  tests/unit/home.view.test.js
Labels: frontend, documentation

style(ui): extend collection ledger across app pages
  docs/design/collection-ledger.md
  src/public/css/styles.css
  src/views/ammo/index-content.ejs
  src/views/firearms/index-content.ejs
  src/views/partials/layout.ejs
  src/views/reports/index-content.ejs
Labels: frontend, documentation

style(home): keep stat column divider on mobile
  src/public/css/styles.css
Labels: frontend

docs(dashboard): replace dashboard screenshots with the ledger design
  README.md
  docs/design/collection-ledger.md
  docs/index.html
  docs/screenshots/dashboard-light.png
  docs/screenshots/dashboard.png
  wiki/Screenshots.md
Labels: documentation

style(reports): size the disposition grid for its three stats
  src/public/css/styles.css
Labels: frontend

ci: adopt organization workflow templates
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  CLAUDE.md
  wiki/Architecture.md
Labels: documentation, config, ci/cd

style(auth): refresh entry pages as collection ledger
  src/public/css/styles.css
  src/views/auth/login-content.ejs
  src/views/auth/login.ejs
  src/views/partials/layout.ejs
  src/views/setup/setup-content.ejs
  src/views/setup/setup.ejs
  tests/integration/auth.integration.test.js
  tests/integration/setup.integration.test.js
Labels: frontend

Notes added by 'git notes add'
  f9f36cebc9f0ddb892159f715c1778b461faaf72
Labels: none

ci(release): print Trivy image findings as a table when the scan fails
  .github/workflows/release.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  88e17f5632c846b1356c6d8837d526ac2912787f
Labels: none

fix(ci): limit release image scan SARIF to HIGH/CRITICAL findings
  .github/workflows/release.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  daffe59cec2796ffaf7d0de97c92386e517878b9
Labels: none

fix(deps): patch open Dependabot advisories via overrides
  package-lock.json
  package.json
Labels: config, dependencies

Notes added by 'git notes add'
  07ba890b8e2663098d7293bc6b1222141189f1b4
Labels: none

ci(release): merge the release PR automatically once its checks pass
  .github/workflows/release.yml
  CLAUDE.md
Labels: documentation, config, ci/cd

fix(ci): stop the release smoke call from deadlocking on concurrency
  .github/workflows/docker-smoke.yml
Labels: config, ci/cd

ci(smoke): drop unused retry-loop counters flagged by shellcheck
  .github/workflows/docker-smoke.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  6407142071bb48b6b1376a75c83235c24f87b1af
Labels: none

fix(ci): build the arm64 release image on a native runner
  .github/workflows/release.yml
  CLAUDE.md
Labels: documentation, config, ci/cd

Notes added by 'git notes add'
  ce4cb2e75f5d09af698d5f93f025552955402338
Labels: none

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'
