Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

Notes added by 'git notes add'
  e858df29a463341f29328ae14dadc9b5e905600a
Labels: none

fix: remove unnecessary fetch depth in deploy workflow
  .github/workflows/deploy-pages.yml
Labels: config, ci/cd

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  2dbeb831d5606404d0aa9a6bf2ba6c9937f08f60
Labels: none

fix: add workflow_dispatch trigger to deploy workflow
  .github/workflows/deploy-pages.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  a578c6a434b17bba29025f9f1cc7d0670beddfb2
Labels: none

chore(release): 1.11.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

fix: add footer with attribution to Gogorichie Lab
  docs/index.html
Labels: documentation

chore(release): 1.11.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  68f760103cc4981a17137ae4d5a14a2d13d8dc89
Labels: none

fix: update footer text to reflect USA attribution
  docs/index.html
Labels: documentation

chore(release): 1.11.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  abd10dd29ec165f99c6af3b03701965051339ff2
Labels: none

fix: update footer to include USA attribution
  docs/index.html
Labels: documentation

Notes added by 'git notes add'
  e9bc9c29f8de5e1af7f9553814e2f66005243781
Labels: none

chore(release): 1.11.5 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

docs: add Claude project instructions for context and guidance
  CLAUDE.md
Labels: documentation

Update CLAUDE.md
  CLAUDE.md
Labels: documentation

Update CLAUDE.md
  CLAUDE.md
Labels: documentation

Update CLAUDE.md
  CLAUDE.md
Labels: documentation

Update CLAUDE.md
  CLAUDE.md
Labels: documentation

docs(ui): expand UI engineer guidance for audit deliverables
  .github/agents/ui-eng.md
  docs/ui-ux-audit-plan.md
Labels: documentation, config

chore: remove obsolete verification and analysis documents
  MODAL_VERIFICATION.md
  TOIL_REDUCTION_SUMMARY.md
  toil-analysis.md
Labels: documentation

docs: update architecture and coding practices in AGENTS.md
  AGENTS.md
Labels: documentation

feat: enhance UI and UX across various pages, add delete confirmation modal behavior
  src/public/css/styles.css
  src/public/js/firearms-show.js
  src/public/js/search.js
  src/views/auth/change-password-content.ejs
  src/views/auth/login-content.ejs
  src/views/auth/profile-content.ejs
  src/views/errors/404-content.ejs
  src/views/firearms/_form.ejs
  src/views/firearms/edit-content.ejs
  src/views/firearms/index-content.ejs
  src/views/firearms/new-content.ejs
  src/views/firearms/show-content.ejs
  src/views/firearms/show.ejs
  src/views/home/index-content.ejs
  src/views/partials/layout.ejs
  tests/integration/auth.integration.test.js
  tests/integration/firearms.integration.test.js
Labels: frontend

docs: add Principal Advisor role and interaction model guidelines to AGENTS.md
  AGENTS.md
Labels: documentation

docs: update documentation guidelines for user-facing features
  AGENTS.md
Labels: documentation

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  e54576bc1d0d8cdab97db8790d8763dc7b925549
Labels: none

feat(home): add collection type and value charts to dashboard
  src/features/home/home.service.js
  src/infra/db/repositories/firearms.repository.js
  src/public/css/styles.css
  src/public/js/chart.min.js
  src/public/js/home-charts.js
  src/views/home/index-content.ejs
  src/views/home/index.ejs
  src/views/partials/layout.ejs
  tests/unit/firearms.repository.test.js
  tests/unit/home.service.test.js
Labels: frontend

Update src/views/home/index-content.ejs
  src/views/home/index-content.ejs
Labels: frontend

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  0a6ae37c7453be88244e5307ee97b040c95848e7
Labels: none

feat(ci): enhance Docker workflow with Trivy image scanning and reporting
  .github/workflows/release.yml
Labels: config, ci/cd

fix(ci): add cache configuration for Node.js setup
  .github/workflows/ci.yml
Labels: config, ci/cd

fix(ci): ensure correct checkout of main branch in Docker job
  .github/workflows/release.yml
Labels: config, ci/cd

fix(ci): adjust permissions for Docker job in release workflow
  .github/workflows/release.yml
Labels: config, ci/cd

fix(docs): update index.html for improved clarity and privacy emphasis
  docs/index.html
Labels: documentation

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  3f92b3cff3723dfac20b7a444abef3e9377d0d5f
Labels: none
