Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

ci(hadolint): point action at .hadolint.yaml explicitly
  .github/workflows/ci.yml
Labels: config, ci/cd

ci(hadolint): switch to inline DL3018 ignore in Dockerfile
  .github/workflows/ci.yml
  .hadolint.yaml
  CLAUDE.md
  Dockerfile
Labels: documentation, config, docker, ci/cd

ci(hadolint): set failure-threshold to error
  .github/workflows/ci.yml
  Dockerfile
Labels: config, docker, ci/cd

fix(ci): make release version bump idempotent
  .github/workflows/release.yml
Labels: config, ci/cd

fix(security): externalize inline scripts to comply with default CSP
  src/public/js/firearm-form.js
  src/public/js/firearm-import.js
  src/views/firearms/_form.ejs
  src/views/firearms/edit.ejs
  src/views/firearms/import-content.ejs
  src/views/firearms/import.ejs
  src/views/firearms/new.ejs
Labels: frontend

feat(security)!: refuse to start with default ADMIN_PASSWORD in production
  .env.example
  README.md
  src/app/createApp.js
  src/infra/config/index.js
  tests/integration/boot-guard.integration.test.js
Labels: documentation

feat(security)!: default Secure cookie flag to on in production
  CLAUDE.md
  README.md
  docker-compose.yml
  src/infra/config/index.js
  tests/unit/config.test.js
Labels: documentation, config, docker

Potential fix for pull request finding
  docker-compose.yml
Labels: config, docker

Notes added by 'git notes add'
  dcfdf3cc81454d61afe3668ece484342a6787a31
Labels: none

fix(config): refuse to start in production with default SESSION_SECRET
  src/infra/config/index.js
  tests/unit/config.test.js
Labels: none

Notes added by 'git notes add'
  d0a1ea4fb06e42935f6ac2d9f5035c03eec0c539
Labels: none

fix(csrf): render friendly 403 page and log proxy hint on CSRF rejection
  src/app/createApp.js
  src/views/errors/403-content.ejs
  src/views/errors/403.ejs
  tests/integration/auth.integration.test.js
Labels: frontend

Notes added by 'git notes add'
  c73940c03153109753e277bfee68a48eecb1ef46
Labels: none

fix(theme): make light/dark theme transitions consistent
  src/public/css/styles.css
  src/public/js/chart.min.js
  src/public/js/home-charts.js
Labels: frontend

fix(chart): auto-size bar chart left padding for currency labels
  src/public/js/chart.min.js
Labels: frontend

refactor(home): drop Quick Actions and reorganize dashboard
  src/public/css/styles.css
  src/views/home/index-content.ejs
  tests/integration/auth.integration.test.js
Labels: frontend

Notes added by 'git notes add'
  c5a976c1bfbc88cbd510e33ca1b90bafe6e094a2
Labels: none

Notes added by 'git notes add'
  355de87c252cc31629d790b9518aa4125c50240a
Labels: none

feat(a11y): add skip-to-main link and theme toggle aria-label
  src/public/js/theme.js
  src/views/partials/layout.ejs
Labels: frontend

style(ui): add skip-link visuals and filter-chip selected state
  src/public/css/styles.css
Labels: frontend

fix(ui): update inventory All items count badge with active filters
  src/public/js/search.js
Labels: frontend

feat(ui): mobile card layout for inventory table
  src/public/css/styles.css
  src/views/firearms/index-content.ejs
Labels: frontend

chore(security): pin picomatch to ^4.0.4 and ignore bundled npm copy
  .trivyignore.yaml
  package-lock.json
  package.json
Labels: config, dependencies

chore(security): use CVE IDs and ISO datetime in trivyignore
  .trivyignore.yaml
Labels: none

chore(security): switch trivyignore to legacy plain-text format
  .github/workflows/ci.yml
  .trivyignore
  .trivyignore.yaml
Labels: config, ci/cd

chore(security): list picomatch CVE and GHSA IDs in trivyignore
  .trivyignore
Labels: none

ci(security): scope picomatch trivy exception
  .github/workflows/ci.yml
  .trivyignore
  .trivyignore.yaml
Labels: config, ci/cd

fix(security): bump bundled picomatch to 4.0.4 via npm override
  .trivyignore.yaml
Labels: none

fix(security): bump bundled picomatch to 4.0.4 via npm override
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: config, ci/cd, dependencies

fix(security): bump ip-address to 10.2.0 via override
  package-lock.json
  package.json
Labels: config, dependencies

Potential fix for pull request finding
  src/public/css/styles.css
Labels: frontend

fix(ui): address inventory list review feedback
  src/public/js/search.js
  src/views/firearms/index-content.ejs
Labels: frontend

docs(claude): refresh CLAUDE.md to reflect shipped security and tooling
  CLAUDE.md
Labels: documentation

docs(claude): refresh CLAUDE.md to reflect shipped security and tooling (#445)
  CLAUDE.md
Labels: documentation

fix(release-1): resolve open Release 1 issues across security, bugs, devops, and tests
  .nvmrc
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  src/app/createApp.js
  src/features/auth/auth.routes.js
  src/features/auth/auth.service.js
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.service.js
  src/infra/config/index.js
  src/public/js/firearm-import.js
  src/server.js
  src/shared/utils/csv.js
  tests/integration/auth.integration.test.js
  tests/integration/firearms.integration.test.js
  tests/unit/config.test.js
  tests/unit/csv.test.js
  tests/unit/firearms.import.test.js
Labels: backend, frontend, documentation, config, docker, dependencies

fix(release-1): resolve open Release 1 issues across security, bugs, devops, and tests (#446)
  .nvmrc
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  src/app/createApp.js
  src/features/auth/auth.routes.js
  src/features/auth/auth.service.js
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.service.js
  src/infra/config/index.js
  src/public/js/firearm-import.js
  src/server.js
  src/shared/utils/csv.js
  tests/integration/auth.integration.test.js
  tests/integration/firearms.integration.test.js
  tests/unit/config.test.js
  tests/unit/csv.test.js
  tests/unit/firearms.import.test.js
Labels: backend, frontend, documentation, config, docker, dependencies

test(auth): add regression coverage for remaining Release 1 bugs
  tests/integration/auth.integration.test.js
Labels: none

test(auth): regression coverage for last open Release 1 bugs (#385, #386) (#447)
  tests/integration/auth.integration.test.js
Labels: none

fix(release-2): close out remaining open Release 2 backlog
  .github/workflows/release.yml
  Dockerfile
  docker-compose.yml
  jest.config.js
  src/app/createApp.js
  src/features/auth/auth.controller.js
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.service.js
  src/features/firearms/firearms.validators.js
  src/infra/db/repositories/firearms.repository.js
  src/public/css/styles.css
  src/public/js/firearm-import.js
  src/public/js/firearms-show.js
  src/public/js/search.js
  src/services/audit.service.js
  src/shared/utils/csv.js
  src/views/firearms/_form.ejs
  src/views/firearms/import-content.ejs
  src/views/firearms/index-content.ejs
  src/views/firearms/show-content.ejs
  src/views/home/index-content.ejs
  src/views/partials/layout.ejs
  tests/integration/auth.integration.test.js
  tests/integration/firearms.integration.test.js
  tests/integration/load.integration.test.js
  tests/unit/audit.service.test.js
  tests/unit/firearms.import.test.js
Labels: frontend, config, docker, ci/cd

Notes added by 'git notes add'
  c4b59677ec6ea464ed7f87d871ad353a0875ef52
Labels: none

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'
