Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

Delete .github/workflows/summary.yml
  .github/workflows/summary.yml
Labels: config, ci/cd

Update delete-merged-branch action version
  .github/workflows/Auto-Delete-merged-branch.yml
Labels: config, ci/cd

Fix layout rendering for views
  src/views/404-content.ejs
  src/views/404.ejs
  src/views/firearms/edit-content.ejs
  src/views/firearms/edit.ejs
  src/views/firearms/index-content.ejs
  src/views/firearms/index.ejs
  src/views/firearms/new-content.ejs
  src/views/firearms/new.ejs
  src/views/firearms/show-content.ejs
  src/views/firearms/show.ejs
  src/views/login-content.ejs
  src/views/login.ejs
Labels: frontend

chore(release): 1.5.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  31df9f0fad329162ffb46f2e43906d7f41b108bc
Labels: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  0168fae3917ce703b974dd46ba653f86a91a2ac1
Labels: none

refactor: update section titles for consistency in inventory view
  src/views/firearms/index-content.ejs
Labels: frontend

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  9ba899667deed4fec343d0246fbb54ea7b45dca6
Labels: none

fix: update title and header to use full name "Pew Pew Collection"
  src/views/partials/layout.ejs
Labels: frontend

feat: add "Report Issue" link to navigation
  src/views/partials/layout.ejs
Labels: frontend

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  fc7da4e94ef38fe9ae64325c96eac7c9e06e45e0
Labels: none

feat: add multi-select firearm filters
  src/public/css/styles.css
  src/public/js/search.js
  src/views/firearms/index-content.ejs
Labels: frontend

feat: improve firearm detail layout
  src/public/css/styles.css
  src/views/firearms/show-content.ejs
Labels: frontend

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  43ba0a3de2415287bd648b0d744cbe845311b17d
Labels: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  f47d237497478b33f413d30bf6b3121ce907eb22
Labels: none

Add workflow to cleanup old merged feature branches
  .github/workflows/cleanup-feature-branches.yml
Labels: config, ci/cd

Delete .github/workflows/Auto-Delete-merged-branch.yml
  .github/workflows/Auto-Delete-merged-branch.yml
Labels: config, ci/cd

Rename cleanup-feature-branches.yml to Auto-cleanup-feature-branches.yml
  .github/workflows/Auto-cleanup-feature-branches.yml
Labels: config, ci/cd

refactor: remove hero section from login page
  src/views/login-content.ejs
Labels: frontend

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  e69d67dc7630a0e6da405d4de604baedfbe58845
Labels: none

chore: update actions/checkout and actions/setup-node to v6 in workflows
  .github/workflows/hadolint.yml
  .github/workflows/release.yml
Labels: config, ci/cd

chore: update conventional-changelog-conventionalcommits to v9.1.0 in package.json and package-lock.json
  package-lock.json
  package.json
Labels: config, dependencies

pipeline
  .github/workflows/release.yml
Labels: config, ci/cd

fix node ver
  .github/workflows/release.yml
Labels: config, ci/cd

Refactor CICD Pipeline
  .github/workflows/release.yml
Labels: config, ci/cd

hotfix
  .github/workflows/release.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  8a2de50eab01132fc41d378c51955593d3134547
Labels: none

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

remove any files not used in the repo
  PIPELINE_EXAMPLES.md
  docker-entrypoint.sh
  docs/database.md
  scripts/check-env.sh
  src/shared/errors/http-error.js
Labels: documentation

Enhance AGENTS.md with project details and guidelines
  AGENTS.md
Labels: documentation

Enhance CONTRIBUTING.md with detailed guidelines
  CONTRIBUTING.md
Labels: documentation

chore: update workflows and configurations for improved performance and analysis
  .eslintrc.json
  .github/workflows/Auto-cleanup-feature-branches.yml
  .github/workflows/Auto-stale.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/hadolint.yml
  .github/workflows/release.yml
  Dockerfile
  package.json
Labels: config, docker, ci/cd, dependencies

chore: remove .eslintrc.json and migrate ESLint configuration to eslint.config.js feat: add globals dependency to package.json
  .eslintrc.json
  eslint.config.js
  package.json
Labels: config, dependencies

chore: remove CodeQL analysis workflow file
  .github/workflows/codeql-analysis.yml
Labels: config, ci/cd
