Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  bebac2ba629e4ef7e47d87d84714560b5ec137fe
Labels: none

ci(release): fail Trivy gate on critical vulnerabilities only
  .github/workflows/release.yml
Labels: config, ci/cd

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  7e224822809a7129572ae503acd165edf8a7c4cc
Labels: none

chore(release): 1.14.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  b35d72785b1119df5533245054e11cf7ffe444ce
Labels: none

chore(release): 1.14.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  bba804075fa495be0c1ebce260adcd7a420f1a1a
Labels: none

fix(docs): update README for clarity and consistency in application description
  README.md
Labels: documentation

feat(docs): enhance installation section with environment variable configuration table
  docs/index.html
Labels: documentation

feat: add static file serving and enhance SEO metadata in layout
  src/app/createApp.js
  src/public/robots.txt
  src/views/partials/layout.ejs
Labels: frontend

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  292132322c449739ff35731b88e383244315e0e2
Labels: none

Notes added by 'git notes add'
  b7cca0458e482853e8036ad4f969585cd68c2d75
Labels: none

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Add in testing skill
  .github/agents/testing-skill.md
Labels: config

Add configuration and agent definitions for database migration, feature building, code reviewing, and UI flow management
  .codex/agents/db-migration-keeper.toml
  .codex/agents/feature-builder.toml
  .codex/agents/reviewer.toml
  .codex/agents/ui-flow-guard.toml
  .codex/config.toml
Labels: database

Refactor firearm views for improved styling and functionality
  src/public/css/styles.css
  src/views/firearms/index-content.ejs
  src/views/firearms/show-content.ejs
  src/views/home/index-content.ejs
  src/views/partials/layout.ejs
Labels: frontend

Add security review agent configuration for application risk assessment
  .codex/agents/security-flow-reviewer.toml
Labels: none

Refactor firearm table headers to remove unnecessary styling and enhance readability
  src/views/firearms/index-content.ejs
Labels: frontend

Enhance response style guidelines for reviewer agent to improve clarity and consistency in findings
  .codex/agents/reviewer.toml
Labels: none

chore(release): 1.15.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  09895c77a17798b14df8426f9aea9fd48eb6e3ef
Labels: none

fix: update Dockerfile to use bookworm-slim and improve dependency installation
  .github/workflows/release.yml
  Dockerfile
Labels: config, docker, ci/cd

fix: add tar dependency and override in package.json
  package.json
Labels: config, dependencies

fix: add undici dependency and update overrides in package.json
  package.json
Labels: config, dependencies

Potential fix for code scanning alert no. 16: Insecure configuration of Helmet security middleware
  src/app/createApp.js
Labels: none

chore(release): 1.15.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  f8d8c6c8f121712fbe16f9261c53f9ab9d456578
Labels: none

fix: update package version to 1.15.2 and remove unused dependencies
  package-lock.json
  package.json
Labels: config, dependencies

chore(release): 1.15.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  fd9f172299f32a7c87a2db32e21f22341bbf1b2f
Labels: none

fix: switch base image from bookworm-slim to alpine for smaller footprint
  Dockerfile
Labels: docker

fix: add Trivy PR scan job to CI workflow for enhanced security scanning
  .github/workflows/ci.yml
Labels: config, ci/cd

fix: enhance CI workflow with Trivy scans and update Node.js version
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .trivyignore.yaml
  Dockerfile
Labels: config, docker, ci/cd

fix: remove outdated CI and maintenance workflows, consolidate into new CI and Maintenance workflows
  .github/workflows/Auto-cleanup-feature-branches.yml
  .github/workflows/Auto-stale.yml
  .github/workflows/Ci.yml
  .github/workflows/Maintenance.yml
  .github/workflows/Release.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/hadolint.yml
  .github/workflows/release.yml
Labels: config, ci/cd

chore(release): 1.15.5 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  c62eb2e24fca5dd3219dd3ddd74c7a785a86130c
Labels: none

Notes added by 'git notes add'
  af9327afd2b3fbdef86c1458b8edf9f2ff2a1b16
Labels: none
