Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

fix(ci): add category to Hadolint SARIF upload to prevent conflicts with default CodeQL
  .github/workflows/hadolint.yml
Labels: config, ci/cd

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  fc0ba2e12c25c837f8e17c7af4e81c59df37c36e
Labels: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  babc4aff54cf89a36addc3536a6dafa15037baba
Labels: none

Potential fix for code scanning alert no. 14: Missing CSRF middleware
  package.json
  src/app/createApp.js
Labels: config, dependencies

fix(deps): sync lockfile for csurf dependency
  package-lock.json
Labels: dependencies

Notes added by 'git notes add'
  71fb7a2b17ad131164e87fc37aed58e75ccc60ba
Labels: none

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

feat(version): add update availability indicator
  README.md
  src/app/createApp.js
  src/infra/config/index.js
  src/public/css/styles.css
  src/services/version.service.js
  src/views/partials/layout.ejs
  tests/unit/version.service.test.js
Labels: frontend, documentation

fix(firearms): validate required fields on create form
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.validators.js
  src/public/css/styles.css
  src/views/firearms/_form.ejs
  src/views/firearms/edit-content.ejs
  src/views/firearms/new-content.ejs
  tests/integration/firearms.integration.test.js
  tests/unit/firearms.validators.test.js
Labels: frontend

test(firearms): deduplicate 404 page assertions in integration tests
  tests/integration/firearms.integration.test.js
Labels: none

fix(styles): resolve mobile media-query conflict and test syntax
  src/public/css/styles.css
  tests/integration/firearms.integration.test.js
Labels: frontend

test(auth): close integration test block for theme toggle
  tests/integration/auth.integration.test.js
Labels: none

fix(tests): close firearms integration test block
  tests/integration/firearms.integration.test.js
Labels: none

fix(tests): close status/type integration test block
  tests/integration/firearms.integration.test.js
Labels: none

Notes added by 'git notes add'
  b57f2dc9ee05a5a98112f136afd872062c301bfe
Labels: none

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  e7ed38dae5287ca1ff4974dcb0c34e023659300d
Labels: none

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  78155a0edb5c99d6c2a5971f67953d6cc4744fbc
Labels: none

feat: add initial HTML structure for Pew Pew Collection github page
  docs/index.html
Labels: documentation

feat: update hero image and add GitHub Pages deployment workflow
  .github/workflows/deploy-pages.yml
  docs/index.html
Labels: documentation, config, ci/cd

feat: add documentation for technical writer, UI engineer, and code review guidelines copilot agents
  .github/agents/docs-agent.md
  .github/agents/ui-eng.md
  .github/copilot-instructions.md
Labels: config

feat(auth): add profile management page
  src/features/auth/auth.controller.js
  src/features/auth/auth.routes.js
  src/features/auth/auth.service.js
  src/public/css/styles.css
  src/views/auth/profile-content.ejs
  src/views/auth/profile.ejs
  src/views/partials/layout.ejs
  tests/integration/auth.integration.test.js
  tests/unit/auth.service.test.js
Labels: frontend

style(auth): redesign profile settings into two-column card grid
  src/public/css/styles.css
  src/views/auth/profile-content.ejs
  tests/integration/auth.integration.test.js
Labels: frontend

fix(home): refine hero layout and repair dashboard styles
  src/app/createApp.js
  src/app/routes/index.js
  src/features/home/home.controller.js
  src/features/home/home.routes.js
  src/features/home/home.service.js
  src/infra/db/repositories/firearms.repository.js
  src/public/css/styles.css
  src/views/home/index-content.ejs
  src/views/home/index.ejs
  src/views/partials/layout.ejs
  tests/integration/auth.integration.test.js
  tests/unit/home.service.test.js
Labels: frontend

style(version): move version indicator to bottom-right overlay
  README.md
  src/app/createApp.js
  src/infra/config/index.js
  src/public/css/styles.css
  src/services/version.service.js
  src/views/partials/layout.ejs
  tests/unit/version.service.test.js
Labels: frontend, documentation

fix(license): update license information to GNU GPL v3 in documentation
  docs/index.html
  package.json
Labels: documentation, config, dependencies

Update docs/index.html
  docs/index.html
Labels: documentation

Update docs/index.html
  docs/index.html
Labels: documentation

Update src/views/home/index-content.ejs
  src/views/home/index-content.ejs
Labels: frontend

Update .github/workflows/deploy-pages.yml
  .github/workflows/deploy-pages.yml
Labels: config, ci/cd

Update src/features/auth/auth.controller.js
  src/features/auth/auth.controller.js
Labels: none

Update src/features/home/home.controller.js
  src/features/home/home.controller.js
Labels: none

Update src/views/auth/profile-content.ejs
  src/views/auth/profile-content.ejs
Labels: frontend

Update docs/index.html
  docs/index.html
Labels: documentation

Update src/public/css/styles.css
  src/public/css/styles.css
Labels: frontend

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'
