Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

docs: update architecture.md for dropped tables and CSV export changes (PR #520)
  docs/architecture.md
Labels: documentation

Remove badges from README.md
  README.md
Labels: documentation

chore(deps): resolve dependabot audit alerts
  package-lock.json
  package.json
Labels: config, dependencies

fix(ci): keep npm overrides compatible with npm 10
  package.json
Labels: config, dependencies

ci: gate container releases on scan and smoke test
  .github/workflows/release.yml
Labels: config, ci/cd

docs: document container signature verification
  README.md
Labels: documentation

test: add release image smoke flow
  scripts/smoke.sh
Labels: none

ci: invoke smoke flow portably
  .github/workflows/release.yml
Labels: config, ci/cd

Notes added by 'git notes add'
  7bdbae21f6b379456eee5494fb10a627506e7438
Labels: none

feat: add structured request logging
  README.md
  docs/architecture.md
  src/app/createApp.js
  src/features/auth/auth.controller.js
  src/features/firearms/firearms.controller.js
  src/infra/config/index.js
  src/server.js
  src/services/audit.service.js
  src/services/logger.service.js
  tests/integration/logging.integration.test.js
  tests/unit/audit.service.test.js
  tests/unit/logger.service.test.js
Labels: backend, documentation

Notes added by 'git notes add'
  afd8a7a645fa899024e568820faaad1043abf38c
Labels: none

feat(maintenance): add maintenance log with cleaning-due reminders (#149)
  src/app/createApp.js
  src/app/routes/index.js
  src/features/auth/auth.controller.js
  src/features/auth/auth.service.js
  src/features/firearms/firearms.controller.js
  src/features/home/home.controller.js
  src/features/home/home.service.js
  src/features/maintenance/maintenance.controller.js
  src/features/maintenance/maintenance.routes.js
  src/features/maintenance/maintenance.service.js
  src/features/maintenance/maintenance.validators.js
  src/infra/db/repositories/maintenance.repository.js
  src/public/css/styles.css
  src/shared/utils/dates.js
  src/views/auth/profile-content.ejs
  src/views/firearms/show-content.ejs
  src/views/home/index-content.ejs
  tests/integration/maintenance.integration.test.js
  tests/unit/auth.service.test.js
  tests/unit/home.service.test.js
  tests/unit/maintenance.repository.test.js
  tests/unit/maintenance.service.test.js
  tests/unit/maintenance.validators.test.js
Labels: frontend

feat(range-sessions): add range session tracking (#151)
  src/app/createApp.js
  src/app/routes/index.js
  src/features/firearms/firearms.controller.js
  src/features/range-sessions/range-sessions.controller.js
  src/features/range-sessions/range-sessions.routes.js
  src/features/range-sessions/range-sessions.service.js
  src/features/range-sessions/range-sessions.validators.js
  src/infra/db/repositories/range-sessions.repository.js
  src/views/firearms/show-content.ejs
  tests/integration/range-sessions.integration.test.js
  tests/unit/range-sessions.repository.test.js
  tests/unit/range-sessions.service.test.js
  tests/unit/range-sessions.validators.test.js
Labels: frontend

feat(photos): add photo attachments stored in the data volume (#152)
  CLAUDE.md
  README.md
  docs/architecture.md
  package-lock.json
  package.json
  src/app/createApp.js
  src/app/routes/index.js
  src/features/firearms/firearms.controller.js
  src/features/photos/photos.controller.js
  src/features/photos/photos.routes.js
  src/features/photos/photos.service.js
  src/infra/config/index.js
  src/infra/db/migrations/007_firearm_photos.sql
  src/infra/db/repositories/photos.repository.js
  src/public/css/styles.css
  src/public/js/firearm-photos.js
  src/views/firearms/show-content.ejs
  src/views/firearms/show.ejs
  tests/integration/photos.integration.test.js
  tests/unit/config.test.js
  tests/unit/photos.repository.test.js
  tests/unit/photos.service.test.js
  wiki/Architecture.md
Labels: frontend, documentation, config, dependencies

fix(photos): rate-limit photo upload, serve, and delete routes
  src/features/photos/photos.routes.js
Labels: none

fix(photos): address review feedback on uploads and log forms
  src/features/photos/photos.controller.js
  src/features/photos/photos.service.js
  src/public/js/firearms-show.js
  src/views/firearms/show-content.ejs
  tests/unit/photos.service.test.js
Labels: frontend

fix(maintenance): order cleaning-due list most-urgent first
  src/features/maintenance/maintenance.service.js
  tests/unit/maintenance.service.test.js
Labels: none

perf(db): index maintenance and range-session lookups
  src/infra/db/migrations/008_log_indexes.sql
Labels: none

fix(auth): clarify the cleaning reminder helper text
  src/views/auth/profile-content.ejs
Labels: frontend

fix(config): default the database path inside DATA_DIR when only DATA_DIR is set
  src/infra/config/index.js
  tests/unit/config.test.js
Labels: none

docs: note migration 008 in architecture docs
  CLAUDE.md
  docs/architecture.md
Labels: documentation

fix(photos): unlink the file before deleting the photo row
  src/features/photos/photos.service.js
  tests/unit/photos.service.test.js
Labels: none

fix(maintenance): ignore zero-round range sessions in cleaning reminders
  src/infra/db/repositories/maintenance.repository.js
  tests/unit/maintenance.repository.test.js
Labels: none

fix(photos): enforce the photo cap atomically and return JSON on upload rate limits
  src/features/photos/photos.routes.js
  src/features/photos/photos.service.js
  src/infra/db/repositories/photos.repository.js
  tests/unit/photos.repository.test.js
  tests/unit/photos.service.test.js
Labels: none

docs(readme): back up the data directory, not just the SQLite file
  README.md
Labels: documentation

fix(photos): collision-safe writes and server-sourced client size limit
  src/features/firearms/firearms.controller.js
  src/features/photos/photos.service.js
  src/public/js/firearm-photos.js
  src/views/firearms/show-content.ejs
Labels: frontend

fix(photos): use a template literal in the upload size message
  docs/index.html
  src/public/js/firearm-photos.js
Labels: frontend, documentation

Notes added by 'git notes add'
  b3ef84b58d08fb14c4a5689b9ca91ead43f592b3
Labels: none

fix(docker): bump base image to node:22.22.3-alpine3.22 for openssl/musl/zlib patches
  Dockerfile
Labels: docker

Notes added by 'git notes add'
  e852be1d688dacfa0fec964290bae7ea16f515a7
Labels: none

Notes added by 'git notes add'
  c968a781db9af2792a10370a9dd019af73b7e54a
Labels: none

fix(docker): drop bundled npm from the runtime image to clear image CVEs
  Dockerfile
Labels: docker

Notes added by 'git notes add'
  c2d56de6f85775afee69ad34ecc21a169d1f3769
Labels: none

docs: add screenshots for maintenance log, range sessions, and photos
  docs/screenshots/dashboard.png
  docs/screenshots/firearm-detail.png
  docs/screenshots/inventory.png
  docs/screenshots/maintenance-log.png
  docs/screenshots/photos.png
  docs/screenshots/range-sessions.png
  wiki/Screenshots.md
Labels: documentation

Notes added by 'git notes add'
  718378fddbb5d5497e0714fd1cf18ea94559a1bb
Labels: none

Notes added by 'git notes add'
  d15138ec36b0c3cf386687710e21c02b85e04fa7
Labels: none

feat(config): generate and persist the session secret in the data directory
  .env.example
  .github/agents/ui-eng.md
  .github/workflows/release.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/architecture.md
  docs/index.html
  src/app/createApp.js
  src/infra/config/index.js
  src/infra/config/session-secret.js
  tests/integration/session-secret.integration.test.js
  tests/unit/config.test.js
  tests/unit/session-secret.test.js
  wiki/Configuration.md
  wiki/FAQ.md
  wiki/Home.md
  wiki/Installation.md
  wiki/Security.md
  wiki/Upgrading.md
Labels: documentation, config, docker, ci/cd

fix(deps): bump the ip-address override past the SSRF advisories
  package-lock.json
  package.json
Labels: config, dependencies

feat(setup): create the administrator through a first-run setup page
  .env.example
  .github/agents/ui-eng.md
  .github/workflows/release.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/index.html
  scripts/first-run-smoke.sh
  scripts/smoke.sh
  src/app/createApp.js
  src/app/routes/index.js
  src/features/auth/auth.service.js
  src/features/setup/setup-code.js
  src/features/setup/setup.controller.js
  src/features/setup/setup.routes.js
  src/features/setup/setup.service.js
  src/features/setup/setup.validators.js
  src/infra/config/index.js
  src/infra/db/repositories/settings.repository.js
  src/public/css/styles.css
  src/shared/utils/timing-safe.js
  src/views/setup/setup-content.ejs
  src/views/setup/setup.ejs
  tests/integration/boot-guard.integration.test.js
  tests/integration/setup.integration.test.js
  tests/unit/setup-code.test.js
  tests/unit/setup.service.test.js
  tests/unit/setup.validators.test.js
  wiki/Configuration.md
  wiki/FAQ.md
  wiki/Home.md
  wiki/Installation.md
  wiki/Security.md
  wiki/Upgrading.md
Labels: frontend, documentation, config, docker, ci/cd

ci: run the validation gate on release-branch pull requests
  .github/workflows/ci.yml
Labels: config, ci/cd
