Repository Gogorichielab/PPCollection, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, documentation, config, docker, ci/cd, dependencies, security

.github/labeler.yml:

# Labeler configuration
# Automatically add labels based on file changes

# Backend/API changes
'backend':
  - 'src/routes/**'
  - 'src/middleware/**'
  - 'src/server.js'
  - 'src/db.js'
  - 'src/config.js'

# Frontend changes
'frontend':
  - 'src/views/**'
  - 'src/public/**'

# Database changes
'database':
  - 'src/db.js'
  - '**/*migration*'
  - '**/*schema*'

# Documentation
'documentation':
  - '*.md'
  - 'docs/**'

# Configuration changes
'config':
  - 'package.json'
  - '.releaserc.json'
  - 'docker-compose.yml'
  - '.github/**'

# Docker changes
'docker':
  - 'Dockerfile'
  - 'docker-compose.yml'
  - '.dockerignore'

# CI/CD changes
'ci/cd':
  - '.github/workflows/**'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'

# Security
'security':
  - 'src/middleware/auth.js'
  - 'src/routes/auth.js'

chore(release): 1.15.6 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Fix badge link and add CI badge to README
  README.md
Labels: documentation

chore(release): 1.15.7 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  3618cfe4c8487b237577dc15f59cef09cbf72194
Labels: none

chore(release): 1.15.8 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  c72e3ee61f6d7ec129ef1f992f25b5b0037c1115
Labels: none

chore(release): 1.15.9 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  d0566115d3f306e1a4efe82d432d14d84e5acfa4
Labels: none

chore(release): 1.15.10 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  2e5df6d50b80e73e2122f49aa8419cf3c69cdb57
Labels: none

chore(release): 1.15.11 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  a5537bffa8ddf03ab5ec52864c4623948f5359b3
Labels: none

feat(security): enhance cookie security and proxy trust configuration
  README.md
  docker-compose.yml
  src/app/createApp.js
  src/infra/config/index.js
Labels: documentation, config, docker

fix(toml): add missing closing quotes in reviewer configuration
  .codex/agents/reviewer.toml
Labels: none

feat(firearms): add disposition fields for transfer and sale tracking
  src/features/firearms/firearms.service.js
  src/features/firearms/firearms.validators.js
  src/infra/db/migrations/003_disposition_fields.sql
  src/infra/db/repositories/firearms.repository.js
  src/public/css/styles.css
  src/views/firearms/_form.ejs
  src/views/firearms/show-content.ejs
  tests/integration/firearms.integration.test.js
  tests/integration/load.integration.test.js
Labels: frontend

Notes added by 'git notes add'
  69ae2b7be580338bdb9bb911f519b1a9afc89749
Labels: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Notes added by 'git notes add'
  d2ad80f47ac7e8f24b82c73c4fab9e2e55685888
Labels: none

feat: implement semantic release configuration for publishing
  .github/workflows/Release.yml
  .releaserc.publish.json
Labels: config, ci/cd

Notes added by 'git notes add'
  66142efe1d35379e732498b25fa4466f77fda08e
Labels: none

fix(dashboard): show cumulative collection value by year
  src/infra/db/repositories/firearms.repository.js
  tests/unit/firearms.repository.test.js
Labels: none

feat(firearms): add bulk CSV import with downloadable template
  src/features/firearms/firearms.controller.js
  src/features/firearms/firearms.routes.js
  src/features/firearms/firearms.service.js
  src/public/css/styles.css
  src/shared/utils/csv.js
  src/views/firearms/import-content.ejs
  src/views/firearms/import.ejs
  src/views/firearms/index-content.ejs
  tests/unit/csv.test.js
  tests/unit/firearms.import.test.js
Labels: frontend

feat(firearms): add In Transit status
  src/public/css/styles.css
  src/views/firearms/_form.ejs
  src/views/firearms/index-content.ejs
  src/views/firearms/show-content.ejs
Labels: frontend

feat(version): add opt-in update check indicator with profile toggle
  src/app/createApp.js
  src/features/auth/auth.controller.js
  src/features/auth/auth.service.js
  src/infra/config/index.js
  src/public/css/styles.css
  src/services/version.service.js
  src/views/auth/profile-content.ejs
  src/views/partials/layout.ejs
  tests/unit/version.service.test.js
Labels: frontend

test(version): fix eslint unused args in https mock
  tests/unit/version.service.test.js
Labels: none

Potential fix for pull request finding 'Off-by-one comparison against length'
  src/shared/utils/csv.js
Labels: none

Update src/app/createApp.js
  src/app/createApp.js
Labels: none

Update src/app/createApp.js
  src/app/createApp.js
Labels: none

Notes added by 'git notes add'
  c6d852aacc0f3384292a5d0c2ac0b41d5c6d7aaa
Labels: none

feat(auth): rate-limit login and password change endpoints
  package-lock.json
  package.json
  src/features/auth/auth.routes.js
Labels: config, dependencies

fix(security): set explicit 50KB limit on JSON and urlencoded bodies
  src/app/createApp.js
Labels: none

fix(version-service): add 5s timeout to GitHub release-check request
  src/services/version.service.js
  tests/unit/version.service.test.js
Labels: none

fix(firearms): enforce length and value limits in firearm validator
  src/features/firearms/firearms.validators.js
  tests/unit/firearms.validators.test.js
Labels: none

ci(dependabot): group updates so each ecosystem opens a single PR
  .github/dependabot.yml
Labels: config

ci: add CodeQL, npm audit, and Trivy gates; lowercase workflow filenames
  .github/workflows/Ci.yml
  .github/workflows/Maintenance.yml
  .github/workflows/Release.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: config, ci/cd

docs: refresh QA + workflow sections in CLAUDE.md
  CLAUDE.md
Labels: documentation

chore(qa): tighten lint, jest config, and npm scripts
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  eslint.config.js
  jest.config.js
  package.json
  src/features/auth/auth.service.js
  src/features/firearms/firearms.controller.js
  src/public/js/search.js
Labels: frontend, config, ci/cd, dependencies

ci: bump aquasecurity/trivy-action to v0.36.0
  .github/workflows/ci.yml
Labels: config, ci/cd

ci: drop conflicting codeql.yml + ignore hadolint DL3018
  .github/workflows/codeql.yml
  .hadolint.yaml
  CLAUDE.md
Labels: documentation, config, ci/cd
